# User Testing Report

User testing was conducted by Stephanie Dawn Cansfield on October 22nd between the times of 8:15 and 8:35 with the following participants:

- Lisa Beaton
- Mansura Chowdbury
- Robyn Rutherford

## Tasks

1. Reduce to 240px, find nav, and enter About page.
2. What is my email?
3. Use Bottom-page nav at any size to enter Future page.

---

## Individual Results & Observations

### Lisa Beaton

- 1. Found very easily.
- 2. Found with some complications at 240px sizing.
- 3. Hard to click on at 240px, but found it easily.

### Cassie Chartrand

- Found rather quickly.
- Found after awhile. Kind of hidden; not very obvious.
- Found easily.

### Robyn Rutherford

- Found easily.
- Found quickest.
- Found quickly, had to zoom in to see.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- 240px Nav make more clear and easy to flow through.
- Need to fix smallest page size nav.
- Make Nav more obvious at small scale.

### Serious, Causes Frustration, May Hinder Completion

- Smallest size nav difficult to navigate through.
- Smallest nav is difficult. Sizing of bottom nav.
- Spacing issues.

### Minor, Annoying, Won’t Hinder Completion

- Size of bottom nav at smallest scale 240px difficult.
- Bottom Nav at small scale.
- Up text size of bottom nav.