		<nav class="mobile-nav" role="navigation">
			<ul class="mobile-nav-ul">
				<li class="mobile-nav-li">
					<a href="{{site.baseurl}}/index.html" rel="home" class="a-mobile-nav-links">Home</a>	
				</li>
				<li class="mobile-nav-li">
					<a href="{{site.baseurl}}/cuts.html" class="a-mobile-nav-links">Cuts</a>
				</li>
				<li class="mobile-nav-li">
					<a href="{{site.baseurl}}/colours.html" class="a-mobile-nav-links">Colours</a>
				</li>
				<li class="mobile-nav-li">
					<a href="{{site.baseurl}}/styles.html" class="a-mobile-nav-links">Styles</a>
				</li>
				<li class="mobile-nav-li">
					<a href="{{site.baseurl}}/tools.html" class="a-mobile-nav-links">Tools</a>
				</li>
				<li class="mobile-nav-li">
					<a href="{{site.baseurl}}/products.html" class="a-mobile-nav-links">Products</a>
				</li>
			</ul>	
		</nav>