<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Default</title>
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="../_layout/css/general.css" rel="stylesheet">
		
		<meta name="description" content="My personal knowledge and experience in the hairstyling industry. Viewers come for inspiration on haircuts, colours, and styles.">
		
		
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<!-- Facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Hairstyling · About · Hairstyling Industry Now">
	<meta property="og:url" content="http://pinkpigtails.com">
	<meta property="og:image" content="http://pinkpigtails.com/images/logo-pinkpigtails.png">
	<!-- Image Size: minimum 200x200; preferred 1500x1500 -->
	<meta property="og:site_name" content="Pink Pigtails">
	<meta property="og:description" content="My personal knowledge and experience in the hairstyling industry. Viewers come for inspiration on haircuts, colours, and styles.">
	
	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Hairstyling · About · Hairstyling Industry Now">
	<meta property="twitter:url" content="http://pinkpigtails.com">
	<meta property="twitter:image" content="http://pinkpigtails.com/img/logo-pinkpigtails.jpg">
	<!-- Image Size: 120x120; -->
	<meta property="twitter:image" content="Pink Pigtails">
	<meta property="twitter:description" content="My personal knowledge and experience in the hairstyling industry. Viewers come for inspiration on haircuts, colours, and styles.">
	
</head>

<body>

<header>

	

		<div class="social-media-container">
			<a href="http://facebook.com/pinkpigtails" rel="external" class="social-media"><img src="../_layout/images/fb.png" alt="fb-hair"></a>
		
			<a href="http://twitter.com/pinkpigtails" rel="external" class="social-media"><img src="../_layout/images/tw.png" alt="tw-hair"></a>

			<a href="http://pinterest.com/pinkpigtails" class="social-media"><img src="../_layout/images/pin.png" alt="pin-hair"></a>
		</div>	
		
</header>	

	{{content}}

</body>
</html>
		
